
.root {
  width: 100%;
  height: calc(100vh - 60px);
  padding-bottom: 60px;

  a {
    text-decoration: none;
    color: #fff3fb;
  }

  .body {
    display: flex;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    padding: 1em 8em;

    .comments {
      margin: 1em auto;
    }

    .addButton {
      margin: 0 auto;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .root {
    .content {
      padding: 2em;
    }
  }
}

