
.root {
  width: 100%;
  height: calc(100vh - 60px);
  padding-bottom: 60px;

  .footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

